* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    color: black;
}

body {
    width: 100%;
    height: 100%;
}

#header {
    background-color: #06360a;
    text-align: center;
    padding: 2em 0;
}

header h1 {
    color: white;
}

@keyframes titleMovement {
  0% {transform: translateY(0);}
  30% {transform: translateY(-10px);}
  70% {transform: translateY(10px);}
  100% {transform: translateY(0);}
}


#sobremi {
    position: relative;
    margin: 1em 3% 20px;
    color: #d2e9f7;
    border-radius: 15px;
    background-color: #d2e9f7;
}


#sobremi h2 {
    border-bottom: 2px solid black;
    padding: 5px;
    text-align: center;
}

#sobremi ul {
    padding-top: 10px;
    list-style: none;
}

#sobremi ul li {
    padding: 0 0 10px 10px;
}


#titlelinks {
    border-top: 1px solid black;
    text-align: center;
    padding: 25px 0 0;
    margin: 15px 0 25px;
}

.card {
    margin: 5% 3%;
    border-radius: 8px;
    text-align: center;
    border: 1px solid black;
    background-color: #d2e9f7;
}

.card:hover {
    margin: 12px 2%;
}

.card h2 {
    font-size: 18px;
    padding: 10px 0;
    color: #06360a;
}

.card p {
    padding: 3px 8px 12px;
    font-size: 15px;
    color: #5b5b5b;
}

.button-section {
    background: linear-gradient(#ad5a16, #b21894);
    width: 100%;
    border-radius: 0 0 8px 8px;
    color: white;
    font-size: 13px;
    text-align: center;
    padding: 10px 0;
}

.button-section a {
    text-decoration: none;
    color: white;
}

footer {
    bottom: 0;
    margin: auto 0 0;
    padding: 30px 20px;
    text-align: center;
    color: white;
    font-size: 10px;
}

i {
    padding: 0 8px 0 0;
}